.coin-container{
    display:flex;
    justify-content: center;
}
.coin-row{
    display:flex;
    flex-direction: row;
    justify-items: start;
    height: 70px;
    width: 1050px;
    border-bottom: 1px solid grey;
}
.coin{
    display:flex;
    align-items: center;
    min-width: 300px;
}
.coin-name{
    font-size:16px;
    width:140px;
    margin-right: 5px;
}
.coin-image{
    height:30px;
    width:30px;
    margin-right:17px;
}
.coin-symbol{
    text-transform: uppercase;
}
.coin-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.coin-price{
    width: 120px;
}
.coin-volume{
    width: 165px;
}
.coin-marketcap{
    width: 265px;
}
.coin-percent{
    width:75px;
}
.red{
    color:#f00606;
}
.green{
    color:#11d811;
}
.parallax{
    padding:50px;
    height:200px;
}
.parallax img{
    height:200px;
    width:100%;
}
